<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header ">
      <a class="navbar-brand" href="#">Make a Change</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">See the Change</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
</nav>