<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header ">
      <class="navbar-brand"> <%= link_to 'Make a Change', root_path %> 
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to 'See the Change', maps_path %></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </div>
</nav>