.b{
	font-size: 20px;
}

.img{
	margin-top: 5px;
}

 .link-donate a{
	color: white;
}

.donate-wrapper{
	margin: 0 300px;
}

a:hover {
    text-decoration: none !important;

}
a{
	    font-weight: bold;

}

.navbar-header{
	padding: 10px;
}